.hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top,#fff,rgb(177, 125, 172));
    background-size: cover;
    height: 100vh;
    padding: 30px;
}
.arri{
    font-weight: bold;
}
.hand-icon{
    height: 60px;
}
.title{
    align-items: center;
    font-size: 70px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.latest{
    margin: 20px 0px;
    background-color: red;
    border-radius: 20px;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border: none;
}
.arrow{
    height: 15px;
    margin-left: 15px;
    width: 20px;
}
.model{
    height: 600px;
}
@media (max-width:500px){
    .hero-container{
        flex-direction: column;
    }
    .model{
        height: 300px;
    }
    .hero-container h1{
        font-size: 18px;
    }
    .hero-container p{
        font-size: 50px;
    }
    .hand-icon{
        width: 55px;
    }
}