.offer-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top,#fff,rgb(177, 125, 172));
    background-size: cover;
    padding: 30px;
    margin: 30px 0px;
}
.input-text{
    display: flex;
    margin: 20px 0px;
}
.input{
    padding: 15px 20px;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    width: 400px;
}
.offer-name{
    margin-bottom: 15px;
    font-size: 45px;
    color: rgba(27, 26, 26, 0.906);
}
.subscribe{
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: #fff;
}

@media (max-width:600px){
    .input-text{
        width: 300px;
    }
    .offer-name{
        font-size: 30px;
    }
}
@media (max-width:380px){
    .input-text{
        width: 260px;
    }
    .input{
        width: 200px;
    }
    .subscribe{
        padding: 10px 20px;
        font-size: 12px;
    }
    .offer-name{
        font-size: 25px;
    }
}