*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.list-container{
    display: flex;
    gap: 50px;

}
li{
    list-style: none;
}
.cart-container{
    display: flex;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-text{
    translate: uppercase;
    margin-left: 10px;
}
.login{
    width: 130px;
    padding: 15px 20px;
    border-radius: 20px;
    border:1px solid #bfbfbf;
    margin-right: 30px;
}
.cart-num{
    margin-top: -30px;
    background-color: rgb(231, 23, 23);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
hr{
    border: none;
    height: 2px;
    background-color: red;
    
}
a{
    color: black;
}
.drop-down{
    border: 1px solid #bfbfbf;
    padding: 10px;
    border-radius: 50%;
    display: none;
    
}
@media (max-width:1200px){
    .container{
        padding: 12px 50px;
    }
    .logo{
        width: 40px;
    }
    .logo-text{
        font-size: 25px;
    }
    .list-container{
        gap: 30px;
        font-size: 16px;
    }
    .cart-container{
        gap: 30px;
    }
    .login{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .cart-num{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media (max-width:800px){
    .container{
        padding: 10px 0px;
    }
    .drop-down{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    }
    .list-container{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        top: 50px;
        background-color: #fff;
        justify-content: center;
    }
    .nav-menu-visible{
        display: flex;
    }
    .open{
        transform: rotate(90deg);
    }
}
@media (max-width:500px){
    .container{
        width: 8px 0px;
        gap: 0;
    }
    .logo{
        transform:scale(0.8);
    }
    .list-container{
        height: 70px;
        top: 50px;
    }
    .login{
        transform: scale(0.8);
        margin-right: -30px;
        width: 100px;
    }
    .cart{
        width: 25px;
        height: auto;
    }
    .logo-text{
        font-size: 24px;
    }
}